<ROUGE-EVAL version="1.5.5"><EVAL ID="1"><PEER-ROOT>/Users/Tamazy/Dropbox/_Docs/TAL/App/summary2rouge/systems</PEER-ROOT><MODEL-ROOT>/Users/Tamazy/Dropbox/_Docs/TAL/App/summary2rouge/models</MODEL-ROOT><INPUT-FORMAT TYPE="SEE" /><PEERS><P ID="0">0.html</P></PEERS><MODELS><M ID="0">0.html</M></MODELS></EVAL></ROUGE-EVAL>